<o-form #CircleForm attr="Circle_form_insert" service="Circle" entity="Circle"
keys="circle_type" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #circle_type attr="circle_type" label=" circle_type" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-text-input #decription attr="decription" label="decription" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>