<o-form-layout-manager attr="Circle" mode="dialog" title="CIRCLE">
    <o-form-layout-dialog-options width="800px" height="750px"
            disable-close="false" ></o-form-layout-dialog-options>
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="CircleTable" 
            service="Circle" 
            entity="Circle" 
            title="Circle"
            keys="circle_type"
            columns="circle_type;decription" 
            header-actions="R"
            visible-columns="circle_type;decription"  
            sort-columns="circle_type" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            delete-button="no"
            insert-button="no"
            export-button="yes">
            
            <o-table-column #circle_type attr="circle_type" title=" circle_type" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #decription attr="decription" title="decription" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>