<o-form #CardForm attr="Card_form_insert" service="Card" entity="Card"
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-list-picker 
        attr="fellowship_name"
        service="Fellowship" 
        entity="FellowshipType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="name" 
        value-column-type="VARCHAR"  
        keys="name" 
        columns="name;fellowship_name;name" 
        title="fellowship_name"
        visible-columns="name;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="card_type"
        service="Cardtype" 
        entity="CardtypeType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="card_type" 
        value-column-type="VARCHAR"  
        keys="card_type" 
        columns="card_type;card_type;card_type" 
        title="card_type"
        visible-columns="card_type;card_type" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-text-input #circle_text attr="circle_text" label="circle_text" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-checkbox #is_active attr="is_active" label="is_active" read-only="no" enabled="yes"></o-checkbox>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>