<o-form-layout-manager attr="DailyResponseCount" mode="tab" title="DAILYRESPONSECOUNT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="DailyResponseCountTable" 
            service="DailyResponseCount" 
            entity="DailyResponseCount" 
            title="DAILYRESPONSECOUNT"
            keys="user_id;response_date"
            columns="user_id;response_date;count_inner;count_middle;count_outer" 
            header-actions="R;D"
            visible-columns="user_id;response_date;count_inner;count_middle;count_outer"  
            sort-columns="user_id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #user_id attr="user_id" title=" user_id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #response_date attr="response_date" title="response_date" type="DATE" editable="no" required="yes" ></o-table-column>
            
            <o-table-column #count_inner attr="count_inner" title="count_inner" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #count_middle attr="count_middle" title="count_middle" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #count_outer attr="count_outer" title="count_outer" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>